<template name="divBuilderBottomPanel">
  <button id="divBuilderBottomPanelToggle" type="button"  class="btn btn-default btn-bottom-center" data-toggle="collapse"  data-target="#divBuilderBottomPanel">
    <i class="fa fa-arrow-up "></i>
  </button>
  <div id="divBuilderBottomPanel"  class="divBuilderBottomPanel collapse" style="display:none;" >
    <div class="divBuilderBottomPanelBorder">

    </div>
    <div class="row divBuilderPanelSection">


        <div class="col-sm-12 divBuilderPanelSection">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="container divBuilderPanelSection" style="text-align:center;width:100%">
          <button type="button"   class="btn btn-default "  data-toggle="collapse" data-target="#divBuilderBottomPanel" ><i class="fa fa-arrow-down "></i></button>

          <label class="btn btn-default switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>
          <button type="button"   class="btn btn-default"  ><i class="fa fa-arrow-right "></i></button>


        </div>
      </div>
  </div>
</template>
